#submit{
    padding-top: 5px;
}
.container{
    width: 40%;
    float:0;
}
.header{
    width: 30%;
    border: 2px solid black;
}
#showcase{
    min-height: 50px;
    width: 50px;
}
img{
    width: 10%;
}